html, body{
    background: linear-gradient(135deg, #11cbac, #08ad92);
    font-family: 'Inter';
    color: whitesmoke;
    margin: 0 auto; 
    overflow: hidden;
}

header{
    text-align: center;
}

.barra{
    text-align: left;
    background-color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}

li a {
    text-align: center;
    text-decoration: none;
    background-color: white;
    margin: 10px;
    color: #08ad92;
}
li a:hover {
    background-color: rgb(211, 211, 211);
  }

main{
    margin: 100px;
    justify-content: left;
    width: 400px;
    height: 400px;
}
