html, body{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: 'Inter';
    color: whitesmoke;
    margin: 0 auto; 
    overflow: hidden;
}

header{
    text-align: center;
}

.barra{
    text-align: left;
    background-color: azure;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }