html, body{
    background: #1e1f1e;
    font-family: 'Inter';
    color: whitesmoke;
    margin: 0 auto; 
}

header{
    text-align: center;
}

.barra{
    text-align: left;
    background-color: white;
}

ul#unico{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li#unico{
    display: inline;
}

li#unico a {
    text-align: center;
    text-decoration: none;
    background-color: white;
    margin: 10px;
    color: #1e1f1e;
}
li#unico a:hover {
    color: #dbd8d8;
    transition: .4s;
}

li a{
    color: #ffffff;
}
a{
    color: #ffffff;
}

section{
    margin: 100px;
    justify-content: left;
    width: 500px;
    float: left;
}

aside#lateral{
    margin: 100px;
    text-align: left;
    justify-content: left;
    float: right;
}
a:hover{
    color: rgb(131, 127, 127);
    transition: .4s;
}

footer{
    background-color: rgb(131, 127, 127);
    color: #121313;
    position: relative;
    text-align: center;
    bottom: 0;
    padding: 20px;
    margin-top: 1100px;
}